body{
  background-image: url("https://wallpapers.party/media/2019/04/864345.jpg");;
}
.Zay{
  width: 50%;
  margin: auto;
  margin-bottom: 0px;
  
}
.YOLO{
  background-image: url("https://i.pinimg.com/736x/88/d9/6e/88d96ec033726aa79afe059e622a5f50.jpg");;
  background-repeat: no-repeat;
  width: 38%;
  height: 700px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  margin-top: 7%;
  
}
.Type{
  font-size: 60px;
  font-family: serif;
  color: rgb(99, 97, 97);
}
.Abby{
  width: 50%;
  margin: auto;
  margin-top: 0px;
  background-color: rgb(184, 182, 182);
}
.pain{
  background-color: transparent;
  color: whitesmoke;
  width: 50%;
  margin: auto;
 margin-top: 10px;

}