body{
  background-image: url("https://wallpapers.party/media/2019/04/864345.jpg");;

}
.Zay{
  width: 50%;
  margin: auto;
  margin-bottom: 0px;
  
}
.YOLO{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRuAvvB0ilP1eLUAzG2ZAF5G2EFkcYGoB2CW3Xgjb8VvZooYJqy");
  
  width: 38%;
  height: 700px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  margin-top: 7%;
  
}
.Type{
  font-size: 60px;
  font-family: serif;
  color: rgb(99, 97, 97);
}
.Abby{
  width: 50%;
  margin: auto;
  margin-top: 0px;
  background-color: rgb(184, 182, 182);
}
.pain{
  background-color: transparent;
  color: whitesmoke;
  width: 50%;
  margin: auto;
 margin-top: 10px;

}